{% block redactions %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static '/css/style.css'%}">   
    <title>Title</title>
</head>
<body>
{% include "navbar.html" %}

    {% for redaction in redactions %}
        <ul class="list-group">
            <li class="list-group-item">
                {{ redaction.name }}
                <ul class="list-group">
                    {% for book in redaction.books.all %}
                        <li class="list-group-item"> {{ book.title }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}

{% endblock redactions %}
{% include "footer.html" %}
</body>
</html>